.work_place {
  width: 100%;
  background-color: #f7ede8;
  margin: 20px 0 20px 0;
}
.show_questions {
  width: 1160px;
  height: 472px;
  float: left;  
}
.block_time {
  display: flex;
  justify-content: space-around;
}
