

  .autoForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .autoInput {
    width: 50%;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0.5px solid beige;
    background: aliceblue;
  }
  
  .password {
    width: 100%;
    border: 0;
    height: 100%;
    // letter-spacing: 2px;
    // font-size: 20px;
    color: grey;
    background: aliceblue;
    // padding-left: 5px;
  }
  
  .showPassword {
    width: 10%;
    color: lightgray;
    margin: 5px;
    cursor: pointer;
  }
  
  .come_in {
    background: darkgray;
    text-align: center;
    padding: 0;
    color: aliceblue;
  }
  .come_in:hover {
    border: 2px solid #808080;
    color: #faebd7;
    background: #c0c0c0;
  }
  
  .autoBottom {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 15px;
  }
  