.secondPage {
  width: 1440px;
  height: 1375px;
  background-color: white;
}

.secondPageTitle {
  width: 735px;
  height: 142px;
  top: 140px;
  left: 353px;
  font-family: Montserrat Alternates;
  font-size: 59.3px;
  font-weight: 700;
  line-height: 71.16px;
  letter-spacing: -0.02em;
  text-align: center;
}
