#root {
  position: relative;
  width: 1440px;
  height: 1448px;  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #F7EDE8;
}
li{
  text-align: initial;
  color: brown;
  margin-bottom: 5px;
}
span{
  margin: 0 20px 0 0;
}
#header{
  position: absolute;
  width: 1160px;
  height: 74px;
  top: 24px;
  left: 140px; 
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
}
#logo{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 2px solid;
    position: relative;
}
#headerMenu{
  width: 315px;
  display: flex;
  justify-content: space-between;
}
#headerButton{
  width: 344px;
  height: 41px;
  top: 40px;
  left: 956px;
  gap: 20px;
  opacity: 0px;
  position: sticky;
  display: flex;
  justify-content: flex-end;
}
#logoText{
  position: absolute;
  z-index: 1;
  background: #F7EDE8;
  margin: 18% 0 0 25%;
  padding: 10px;
}
.deleteLi{
  float: right;
    background: burlywood;
    color: antiquewhite;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.deleteLi:hover{
  float: right;
    background: antiquewhite;
    color: burlywood;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}