.test {
  position: relative;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("./assets/fonts/MontserratAlternates-Bold.ttf");
}

body {
  font-family: "Montserrat Alternates";
  background: #f7ede8;
  display: flex;
  justify-content: center;
}

.img {
  cursor: pointer;
}

button {
  width: Hug (188px) px;
  height: Hug (41px) px;
  padding: 12px 24px 12px 24px;
  gap: 0px;
  border-radius: 8px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  cursor: pointer;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.1rem;
  text-align: left;
  border: 2px solid #000000;
  background: #f7ede8;
}

button:hover {
  background: #000000;
  color: #f7ede8;
}

li {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
  /* list-style-type: none; */
}

span {
  margin: 0 20px 0 0;
}

.menu {
  cursor: pointer;
}

.menu:hover {
  color: #808080;
}

.media > span {
  margin: 70px 0 70px 0;
}
